HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.obsidian
.DS_Store


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.github/
.mvn/
autocode/
logs/
upload/
target/

### VS Code ###
.vscode/
node_modules/
package-lock.json